body {
  background-color: rgb(235, 245, 244);
}
.navbar {
  background-color: rgb(58, 240, 240);
}
.googlemap {
  width: 45vw;
  height: cal(0.75 * 45vw);
  border: 1px solid rgb(35, 194, 223);
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
